

.jumbotron {
    background-image: url("/viruses-bacteria-fungi-s.jpeg");
    background-size: 100% 100%;
    text-align: center;
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
    color: greenyellow;
}